/* font-family: 'Oswald', sans-serif; */

body {
    background-image: url("background.jpeg");
    font-family: 'Oswald', sans-serif;
    
   
    
    
}

.intro {
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin:0;

    
}

mark {
    color:black;
    background-color:red;
}

h2{
    font-size: 30px;
}

.intro img {
    width: 300px;
    justify-content: center;
    
}

.container {
    display: flex;
    
    justify-content: space-around;
    margin-left: 11px;
   
    
   
}

.GitCon img {
    width: 250px;
}

.GitCon {
    text-align: center;

}

.Contact {
    text-align: center;
    justify-self: start;
}

.container2 {
    display: flex;
    justify-content: space-around;
    margin-left: 90px;
   
}
h2{
    text-align: center;
    
}

#GitProj{
    width: 400px;
}

#GitProj2{
    width: 400px;
    height: 350px;
}




.socialMed {
    text-align: center;
    font-size: 30px;
}

mark1{
    color: darkgrey;
}
@media(max-width : 540px) {

    body { 
        width: 100vw;
    }

    
    
    .img {
        width : 80%; 
        height: initial;
        display: block;
        margin-left:auto ;
        margin-right: auto;
    }   

    .mainContainer {
        widows: 100vw;
        display:flex;
        flex-direction: column;
        text-align: center;
        margin-left: 19px;
        
    }

    

    #github-img{
        width: 100px;
        
    }
    
    .container{
        flex-direction: column;
        margin-left: 25%;
       
    }

    #resume-img {
        width: 100px;
    }

    #GitProj {
        width: 290px;
    }

    #GitProj2 {
        width: 290px;
    }

    .container2 {
        flex-direction: column;
        margin-left: 0.3% ; 
    }

    .socialMed{
        margin-left: 20%;
    }
}

@media(max-width: 1030px) {

    body {
        background-color: red;
        flex-direction: column;
        
    }

    
    

    .container {
        width: 80% ;
    }

    .container2 {
        width: 80% ;
    }    

    .Contact {
        width: 80% ;
    }

     
    
   


 
}
 body { 
        width: 100vw;
    }
