

body {
    background-image: url("background.jpeg");
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;

    
   
    
    
}

.intro {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin:0;

    
}

mark {
    color:black;
    background-color:red;
}

h2{
    font-size: 30px;
}

.intro img {
    width: 300px;
    justify-content: center;
    
}

.container {
    display: flex;
    
    justify-content: space-around;
    
   
    
   
}

.GitCon img {
    width: 250px;
}

.GitCon {
    text-align: center;

}

.Contact {
    
    text-align: center;
    justify-self: start;
}

.container2 {
    display: flex;
    justify-content: space-around;
  
   
}
h2{
    text-align: center;
    
}

#GitProj{
    width: 400px;
}

#GitProj2{
    width: 400px;
    height: 350px;
}




.socialMed {
    text-align: center;
    font-size: 30px;
}

.mark1{
    color: darkgrey;
}
@media(max-width : 540px) {

    .intro img {
        margin-top: 2rem;
    }

    .img {
        width : 80%; 
        height: initial;
        display: block;
        
        
    }   

    

    .master-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

   

    #github-img {
        width: 100px;
    }



    #resume-img {
        width: 60px;
    }

    

   
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #github-img{
        width: 150px;
    }


    #resume-img {
        width: 100px;
    }

    #GitProj {
        width: 100vw;
        margin-bottom: 2rem;
    }

    #GitProj2 {
        width: 100vw;
    }

    .socialMed {
        padding-bottom: 3rem;
        
    }

   
    

    
}

